body, html {
    margin: 0;
    height: 100;
}

#page        {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main-content";
    height: 100vh;
}

#header {
    background-color: antiquewhite;    
    grid-area: header;
    height: 100%;
}

#sidebar {
    background-color: aqua;
    grid-area: sidebar;
    height: 100%;
}

#main-content {
    background-color: blueviolet;
    grid-area: main-content;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "projects announcements"
    "projects trending";
}

#projectsDiv {
    grid-area: projects;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr
}

#announcementsDiv {
    grid-area: announcements;
}

#trendingDiv {
    grid-area: trending;
}

