@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html {
    margin: 0;
    height: 100;
    font-family: 'Roboto';
}

button {
    border: none;
    background-color: white;
}

h1 {
    font-size:x-large
}

h2 {
    font-size: large;
}

h3 {
    font-size: medium;
    margin: 0;
}

h4 {
    font-size: small;
    margin: 0;
}

p {
    margin: 0;
    font-size: 0.8rem;
    color: grey;
}

#page {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main-content";
    height: 100vh;
}

#header {
    grid-area: header;
    height: 100%;
    padding: 5px 2rem;
}

#searchBar {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 5px;
    grid-template-columns: auto 3fr 1fr auto auto auto;
}

#searchBar button {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;   
    background-color: white;
}

#searchBar input {
     height: 25px;
     border-radius: 15px;
     border: none;
     background-color:rgb(225, 234, 247);
     width: 100%;
}

#welcome {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto auto auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 15px;
}

#welcome div {
    justify-self:left;
}

#welcome p, #welcome h1 {
    margin: 0;
}

#welcome button {
    height: 30px;
    border-radius: 15px;
    background-color:rgb(78, 162, 230);
    color: white;
    width: 5rem;

}

#sidebar {
    background-color:rgb(78, 162, 230);
    grid-area: sidebar;
    height: 100%;
    color: white;
}

#main-content {
    background-color: rgb(225, 234, 247);
    grid-area: main-content;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto 1fr ;
    grid-template-areas:
    "projects announcements"
    "projects trending";
    gap: 20px;
    padding: 10px 20px;
}

#projectsDiv {
    grid-area: projects;
}

#projectCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
}

.projectCard {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    height:  150px;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    gap:unset;
    position: relative;
}

.yellowSliver {
    background-color: rgb(255, 186, 11);
    position: absolute;
    height: 100%;
    width: 10px;
    left: 0;
    border-radius: 25px 0 0 25px;
}

.toolbar {
    margin-left: auto;
    margin-top: 15px;
}

#announcementsDiv {
    grid-area: announcements;
}

#announcementBody {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}

/* .announcement {
} */

.announcement p {
    font-size: 0.7rem;

}

.lineDivision {
    width: 100%;
    height: 1px;
    background-color: rgb(171, 171, 171);
    margin: 15px auto;
}

#trendingDiv {
    grid-area: trending;
}

.trend {
    background-color: white;
}

