body, html {
    margin: 0;
    height: 100;
}

#page {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main-content";
    height: 100vh;
}

#header {
    grid-area: header;
    height: 100%;
}

#searchBar {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 5px;
    grid-template-columns: auto 3fr 1fr auto auto auto;
    padding: 0 15px;
}

#searchBar button {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;   
    background-color: white;
}

#searchBar input {
     height: 25px;
     border-radius: 15px;
     border: none;
     background-color:rgb(225, 234, 247);
     width: 100%;
}

#sidebar {
    background-color: aqua;
    grid-area: sidebar;
    height: 100%;
}

#main-content {
    background-color: blueviolet;
    grid-area: main-content;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "projects announcements"
    "projects trending";
}

#projectsDiv {
    grid-area: projects;
}

#projectCards {
    display: grid;
    grid-template-columns: 1fr 1fr
}

#announcementsDiv {
    grid-area: announcements;
}

#trendingDiv {
    grid-area: trending;
}

